
    .newsSection{
          margin:0;
          background-color: #F5F5F7;
          width: 100%;
          margin:0;
          padding: 100px 0;
      }
      .sectionMargin{
        margin:  0 120px
      }
      .newsTitleContainer{
          display: flex;
          border-bottom: 1px solid #EDEDEF;
          padding-bottom: 20px;
     
        }
      .title{
        flex:15;
        font-family: 'Fjalla One';
        color: #4F4F52
      }
      .newsMore{
        font-family: 'Fjalla One';
        color: #6D6D6D;
        font-size: 12px;
      }
      .newsBox{
          width:375px;
          border-radius:3px;
          overflow: hidden;
          background-color: #F5F5F7;
          transition: 0.2s;
          margin-right: 20px;
          margin-bottom: 10px;
        }
      .newsBox:hover{
        background-color: #fff;
      }
      .filter{
        display: none;
      }
      .filterText{
        border: 2px solid #fff;
        color: #fff;
        padding: 5px 10px;
      }
      .newsBox:hover .filter{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;width: 100%;
        height: 100%;
        background-color:rgb(166, 2, 3,0.8);
      }

      .top{
          background-image: url(https://images.radio.com/wlnkfm/styles/delta__775x515/s3/lover%20taylor%20swift.png);
          background-size: cover;
          background-repeat: no-repeat;
          height: 250px;
          position: relative;
        }
      .tag{
          position: absolute;
          left:0;
          bottom: 0px;
          background:linear-gradient(transparent 0%,black 100%);
          width:100%;
          box-sizing:border-box;
          display: flex;
          justify-content:space-between;
          padding:0 10px;
        }
      .bottom{
        padding: 5px 10px;
      }
      .newsTitle{
        font-weight: 500;
        margin:10px
      }
      .newsTime{
        font-weight: 600;
        margin:10px;
        font-size: 12px;
        color:rgb(158, 157, 157);
      }
      .newsBox2{
        width:250px;
        border-radius:3px;
        overflow: hidden;
        background-color: #F5F5F7;
        transition: 0.2s;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      .newsBox2:hover{
        background-color: #fff;
      } 
      .newsBox2:hover .filter{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:rgb(166, 2, 3,0.8);
      }
    
      .newsBox2 .top{
        background-image: url(https://images.radio.com/wlnkfm/styles/delta__775x515/s3/lover%20taylor%20swift.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        position: relative;
      }
      .newBox2 .bottom{
        padding: 50px 10px;
        }

      .newBox2 .newsTitle{
        font-weight: 500;
        margin:10px
      }
      .newBox2 .newsTime{
        font-weight: 600;
        margin:10px;
        font-size: 12px;
        color:rgb(158, 157, 157);
      }
      .seletterContainer{
        background-image: url(https://i.pinimg.com/originals/4a/3d/99/4a3d998919f62116e09da0a42f55a32a.jpg);
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
      }
      .formContainer{
     
      position:absolute;
      margin: 0; 
      right: 10% ;
      top: 10%;
      width: 30%;
      }

      .seletterInput
        {
             display:block;
            background: transparent;
            border: none;
            height: 50px;
            width: 100%;
            border: 1px solid rgb(226, 174, 174);
        }
      .seletterInput::-webkit-input-placeholder 
        { /* Chrome/Opera/Safari */
        color: rgb(219, 60, 86);
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        letter-spacing: .05rem;
        font-weight: 500;
      }
      .button{
          border:none;
          text-decoration: none;
          height: 45px;
          width: 110px;
          border-radius:5px; 
          display:block;
          background: linear-gradient(to left,rgba(255,150,246,.8),rgba(91,149,213,.8));
          color: #ffff;
          font-size: 15px;
          font-weight:500;
          letter-spacing: .2rem;
          cursor: pointer;
          transition: 0.5s;
      }
      .button:hover{
        filter:opacity(0.8)
      }
    
      .photosSection{
        
          margin:0;
          background-color: #F5F5F7;
          width: 100%;
          margin:0;
          padding: 50px 0;
      }
      .photos{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
      }
      .photosContainer{
          width: 90%;
          display: flex;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
      }
      .photoItem{
       width:300px;
       height: 300px;
       margin:10px 10px;
       overflow: hidden;
       position: relative;
      }
      .photo{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/82568641_1462877687215281_7176072446500096161_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=RAfrE1LBMYUAX8U53xL&oh=70e409926fb36ffaa2781e2f06ab4e8f&oe=5ED50D7C);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo2{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/83638637_199759274507838_7446069173151937668_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=WMc_3LWcQtIAX9gRxJt&oh=47b2648c7d51144c0f647667d46a35e7&oe=5EB5620A);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo3{
        background: url(https://instagram.ftpe3-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/82007935_1061317497578223_6284456336601901522_n.jpg?_nc_ht=instagram.ftpe3-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=qB_xy8NEuYIAX9QOxa-&oh=7f63efb761c9e7417c32b9824a35bdc4&oe=5E7EAE96
);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo4{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/81345090_773156799847958_6872545387257559463_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=8UosFa3WrY4AX_GE6EE&oh=81a54402dcb2a95a9ca210ecabb1126c&oe=5ECDCFDE);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo5{
        background: url(https://instagram.ftpe3-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/76880674_1022767338060397_859030886232166919_n.jpg?_nc_ht=instagram.ftpe3-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=rKdd-0Zq5zwAX8UN5uA&oh=470e93081975ca5dedaf9d1d517a0e6d&oe=5E7E62D7);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo6{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/79540014_567707573795991_3590096006381382223_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=9R0gjHQhTwAAX-yTIE0&oh=5e770fb2fafb45d68335c4a2322564ab&oe=5EB902A4);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo7{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/79164583_747157742429463_1396065477724455184_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=ie0vbUfMU5MAX-2Xg5Q&oh=68676d16c6d4051909332d048cf380c7&oe=5ED984EF);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo8{
        background: url(https://instagram.ftpe3-2.fna.fbcdn.net/v/t51.2885-15/e35/76964133_1090376344641729_3290958182741906453_n.jpg?_nc_ht=instagram.ftpe3-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=mOjBiFBaNoUAX9YWPGE&oh=771145aa3cc76d83dafc471787ec4718&oe=5E7E8BE6);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo9{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/78703619_555050118650210_4807808859192554484_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=Xr8HRtmAtxsAX9KNp84&oh=65323eb4e2a132243f49b98be6928377&oe=5EC8E6B2);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo10{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/75601607_987419674972043_306138157257382977_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=qA5OCdWQJOgAX-DQHgU&oh=8e8d82e90a98d682e660546d2a4fa126&oe=5EC74FB2);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo11{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/76744627_2530687833693071_7967825978181178862_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=iR6WgME3TqwAX9-Iao6&oh=9de00fc43da87ed3dc096fcdd7c19ccf&oe=5EC84E35);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .photo12{
        background: url(https://instagram.ftpe4-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/80319706_175320636914181_9032650204251736522_n.jpg?_nc_ht=instagram.ftpe4-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=cjb5WJDDl20AX8UXWS9&oh=189654dd9961154b28c32fbf4e0712a6&oe=5EC41499);
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center;
        transition: 0.5s;
      }
      .filter1{
        display: none;
      }
      .photoItem:hover .photo{
        transform: scale(1.1);
      }
      .photo:hover .filter1{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.6);
      }
      .smalltag{
        transition: 0.5s;
        display:flex;
        justify-content:space-around;
        width: 40%;
      }
      .description{
          color: #fff;
          font-size: 12px;
          padding:5px 30px;
      }
     .postType{
      position: absolute;
      top:0.5rem;
      right:0.5rem;
      font-size:20px;
      color: #fff;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
     }

     @media screen and (max-width: 1200px){
       .formContainer{
        width: 80%;
       }
       .formContainer p{
         background-color: #ffc9c9;
         padding: 10px
       }
     }

     @media screen and (max-width: 600px){
       .sectionMargin{
         margin: 0 30px;
       }
       .newsBox{
        background-color: #fff;
      }
      .newsBox2{
        background-color: #fff;
        margin: 20px;
      }
      .top{
        height: 200px
      }
      .formContainer{
       width: 80%;
      }
      .formContainer p{
        background-color: #ffc9c9;
        padding: 10px
      }
    }