.storeSection {
  width: 100%;
  padding-top: 5%;
  background-color: #ffedf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.storeSection .storeContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.storeSection .storeContainer .stroeSide {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.storeSection .storeContainer .stroeSide .sideNav {
  padding: 10px;
  list-style: none;
}

.storeSection .storeContainer .stroeSide .sideNav li {
  padding: 20px;
  color: #f46758;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.storeSection .storeContainer .stroeSide .sideNav li:hover {
  background-color: #f2d5ea;
}

.storeSection .storeContainer .stroeList {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.storeSection .storeContainer .stroeList .storeItem {
  width: 300px;
  height: 320px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 150, 246, 0.8)), to(rgba(91, 149, 213, 0.8)));
  background: linear-gradient(to left, rgba(255, 150, 246, 0.8), rgba(91, 149, 213, 0.8));
  cursor: pointer;
}

.storeSection .storeContainer .stroeList .storeItem img {
  height: 90%;
  width: 100%;
}

.storeSection .storeContainer .stroeList .storeItem .storeItemSize {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #444444;
}

.storeSection .storeContainer .stroeList .storeItem .storeItemInfo .storeItemName {
  margin: 0;
  text-align: center;
}

.storeSection .storeContainer .stroeList .storeItem .storeItemInfo .storeItemPrice {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  background-color: #fff;
}

.itemModal {
  border-radius: 10px;
  width: 800px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #98A8E2;
  -webkit-box-shadow: 1px 1px 3px #ccc;
          box-shadow: 1px 1px 3px #ccc;
  display: none;
}

.itemModal .modalHeader {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: #fff;
}

.itemModal .modalHeader .close {
  float: right;
  padding: 5px 10px;
  cursor: pointer;
}

.itemModal .modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.itemModal .modalContainer .itemImg {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-image: url(https://cdn.shopify.com/s/files/1/0011/4651/9637/products/Miss_Americana_Film_Dark_Grey_Hoodie_Shot_2_1024x1024.png?v=1580425481);
}

.itemModal .modalContainer .modalContent {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.itemModal .modalContainer .modalContent > h1 {
  background-color: #eda8f3;
  padding: 5px;
}

.itemModal .modalContainer .modalContent > h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.itemModal .modalContainer .modalContent .modalSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.itemModal .modalContainer .modalContent .modalSize > h3 {
  margin: 0;
}

.itemModal .modalContainer .modalContent .modalSize ul {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.itemModal .modalContainer .modalContent .modalSize ul li {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.itemModal .modalContainer .modalContent .modalSize ul > :hover {
  color: #fff;
  background-color: #000;
}

.itemModal .modalContainer .modalContent .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.itemModal .modalContainer .modalContent .number i {
  cursor: pointer;
}

.itemModal .modalContainer .modalContent .modalBtn {
  background-color: #eda8f3;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .storeSection .storeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .storeSection .storeContainer .stroeSide .sideNav {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .storeSection .storeContainer .stroeSide .sideNav li {
    padding: 10px;
    border: none;
    border-right: 1px solid #ccc;
  }
  .itemModal {
    width: 80vw;
    height: 100vh;
  }
  .itemModal .modalContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .itemModal .modalContainer .itemImg {
    width: 50vw;
    height: 40vh;
  }
}
/*# sourceMappingURL=store.css.map */